@font-face {
  font-family: "manrope";
  src: url("./fonts/Manrope/Manrope-VariableFont_wght.ttf");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #202733;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: manrope;
}

.App-link {
  color: #61dafb;
}

.subtitle {
  color: hsl(150, 100%, 66%);
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 4px;
}

.container {
  background-color: hsl(217, 19%, 24%);
  width: 540px;
  height: 332px;
  border-radius: 20px;
}

.quote {
  color: hsl(193, 38%, 86%);
  font-size: 28px;
  font-weight: 800;

  opacity: 0;
  transition: opacity 1s ease-in-out 0.9s;
}

.container-content {
  width: 450px;
  margin: auto;
  margin-top: 50px;

}

.dice {
  background-color: hsl(150, 100%, 66%);
  width: 64px;
  height: 64px;
  border-radius: 64px;
  margin: auto;
  margin-top: 30px;
  transition: transform 1s ease-in-out;


}


.dice:hover {
  box-shadow: 1px 1px 20px hsl(150, 100%, 66%);
}

.dice img {
  display: block;
  margin: auto;
  padding-top: 20px;


}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}